@import url('https://fonts.googleapis.com/css2?family=Raleway');
 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

 .login-registration-page {
  width: 100vw;
  height: 100vh;
  /* background-image: url('../assets/background.jpg'); */
  background-color: black;
  background-size: cover;
 }
 
 .login-registration-form {
  font-family: 'Libre Franklin';
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.2);
 }